<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.bean.virtual">

    <uses-permission android:name="com.huawei.authentication.HW_ACCESS_AUTH_SERVICE" />

    <uses-permission android:name="com.samsung.svoice.sync.READ_DATABASE" />
    <uses-permission android:name="com.samsung.svoice.sync.ACCESS_SERVICE" />
    <uses-permission android:name="com.samsung.svoice.sync.WRITE_DATABASE" />
    <uses-permission android:name="com.sec.android.app.voicenote.Controller" />
    <uses-permission android:name="com.sec.android.permission.VOIP_INTERFACE" />
    <uses-permission android:name="com.sec.android.permission.LAUNCH_PERSONAL_PAGE_SERVICE" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.READ_RECORD_AUDIO" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_RECORD_AUDIO" />
    <uses-permission android:name="com.sec.android.settings.permission.SOFT_RESET" />
    <uses-permission android:name="sec.android.permission.READ_MSG_PREF" />
    <uses-permission android:name="com.samsung.android.scloud.backup.lib.read" />
    <uses-permission android:name="com.samsung.android.scloud.backup.lib.write" />

    <uses-permission android:name="android.permission.BIND_DIRECTORY_SEARCH" />
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS" />
    <uses-permission android:name="com.android.voicemail.permission.READ_WRITE_ALL_VOICEMAIL" />

    <uses-permission
        android:name="android.permission.ACCOUNT_MANAGER"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIMAX_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.BIND_APPWIDGET"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIMAX_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_CLIPS" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CELL_BROADCASTS" />
    <uses-permission android:name="android.permission.READ_CLIPS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INSTALL_SESSIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_SOCIAL_STREAM" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_READ" />
    <uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_WRITE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.TRANSMIT_IR" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CLIPS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SOCIAL_STREAM" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID_NOTIFICATION" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.OTHER_SERVICES" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.YouTubeUser" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.adsense" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.adwords" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.ah" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.android" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.androidsecure" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.blogger" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.cl" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.cp" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.dodgeball" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.finance" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.gbase" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.grandcentral" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.groups2" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.health" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.ig" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.jotspot" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.knol" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.lh2" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.local" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.mail" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.mobile" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.news" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.notebook" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.orkut" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.print" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.sierra" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.sierraqa" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.sierrasandbox" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.sitemaps" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.speech" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.speechpersonalization" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.talk" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.wifi" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.wise" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.writely" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.youtube" />
    <uses-permission android:name="com.google.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.providers.talk.permission.READ_ONLY" />
    <uses-permission android:name="com.google.android.providers.talk.permission.WRITE_ONLY" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CLEAR_APP_USER_DATA"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.ACCESS_CACHE_FILESYSTEM"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission
        android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.teslacoilsw.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.actionlauncher.playstore.permission.READ_SETTINGS" />
    <uses-permission android:name="com.mx.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.anddoes.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.apusapps.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.tsf.shell.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.lenovo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.bbk.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.s.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="cn.nubia.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="android.permission.GET_INTENT_SENDER_INTENT" />

    <uses-permission
        android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application>
        <service
            android:name="io.bean.virtual.client.stub.DaemonService"
            android:process=":service" />

        <service
            android:name="io.bean.virtual.client.stub.DaemonService$InnerService"
            android:process=":service" />

        <activity
            android:name="io.bean.virtual.client.stub.ShortcutHandleActivity"
            android:exported="true"
            android:process=":service"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".client.stub.StubPendingActivity"
            android:process=":service" />

        <service
            android:name=".client.stub.StubPendingService"
            android:process=":service" />
        <receiver
            android:name=".client.stub.StubPendingReceiver"
            android:process=":service" />

        <service
            android:name=".client.stub.StubJob"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":service" />

        <activity
            android:name=".client.stub.ChooserActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnCloseSystemDialogs="true"
            android:process=":service"
            android:screenOrientation="portrait"
            android:theme="@style/VAAlertTheme" />

        <activity
            android:name=".client.stub.ResolverActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnCloseSystemDialogs="true"
            android:process=":service"
            android:screenOrientation="portrait"
            android:theme="@style/VAAlertTheme" />

        <provider
            android:name="io.bean.virtual.server.BinderProvider"
            android:authorities="${applicationId}.virtual.service.BinderProvider"
            android:exported="false"
            android:process=":service" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S0"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task0"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S1"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task1"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S2"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task2"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S3"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task3"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S4"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task4"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S5"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task5"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S6"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task6"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S7"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task7"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S8"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task8"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S9"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task9"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S10"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task10"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S11"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task11"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S12"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task12"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S13"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task13"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S14"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task14"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S15"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task15"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S16"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task16"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S17"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task17"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S18"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task18"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S19"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task19"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S20"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task20"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S21"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task21"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S22"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task22"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S23"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task23"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S24"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task24"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S25"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task25"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S26"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task26"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S27"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task27"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S28"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task28"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubActivity$S29"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task29"
            android:taskAffinity="${applicationId}"
            android:theme="@style/VATheme" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S0"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task0"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S1"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task1"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S2"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task2"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S3"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task3"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S4"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task4"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S5"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task5"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S6"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task6"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S7"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task7"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S8"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task8"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S9"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task9"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S10"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task10"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S11"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task11"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S12"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task12"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S13"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task13"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S14"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task14"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S15"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task15"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S16"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task16"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S17"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task17"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S18"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task18"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S19"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task19"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S20"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task20"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S21"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task21"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S22"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task22"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S23"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task23"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S24"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task24"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S25"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task25"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S26"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task26"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S27"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task27"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S28"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task28"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="io.bean.virtual.client.stub.StubDialog$S29"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":task29"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Dialog" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S0"
            android:authorities="${applicationId}.virtual_stub_0"
            android:exported="false"
            android:process=":task0" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S1"
            android:authorities="${applicationId}.virtual_stub_1"
            android:exported="false"
            android:process=":task1" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S2"
            android:authorities="${applicationId}.virtual_stub_2"
            android:exported="false"
            android:process=":task2" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S3"
            android:authorities="${applicationId}.virtual_stub_3"
            android:exported="false"
            android:process=":task3" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S4"
            android:authorities="${applicationId}.virtual_stub_4"
            android:exported="false"
            android:process=":task4" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S5"
            android:authorities="${applicationId}.virtual_stub_5"
            android:exported="false"
            android:process=":task5" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S6"
            android:authorities="${applicationId}.virtual_stub_6"
            android:exported="false"
            android:process=":task6" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S7"
            android:authorities="${applicationId}.virtual_stub_7"
            android:exported="false"
            android:process=":task7" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S8"
            android:authorities="${applicationId}.virtual_stub_8"
            android:exported="false"
            android:process=":task8" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S9"
            android:authorities="${applicationId}.virtual_stub_9"
            android:exported="false"
            android:process=":task9" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S10"
            android:authorities="${applicationId}.virtual_stub_10"
            android:exported="false"
            android:process=":task10" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S11"
            android:authorities="${applicationId}.virtual_stub_11"
            android:exported="false"
            android:process=":task11" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S12"
            android:authorities="${applicationId}.virtual_stub_12"
            android:exported="false"
            android:process=":task12" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S13"
            android:authorities="${applicationId}.virtual_stub_13"
            android:exported="false"
            android:process=":task13" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S14"
            android:authorities="${applicationId}.virtual_stub_14"
            android:exported="false"
            android:process=":task14" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S15"
            android:authorities="${applicationId}.virtual_stub_15"
            android:exported="false"
            android:process=":task15" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S16"
            android:authorities="${applicationId}.virtual_stub_16"
            android:exported="false"
            android:process=":task16" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S17"
            android:authorities="${applicationId}.virtual_stub_17"
            android:exported="false"
            android:process=":task17" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S18"
            android:authorities="${applicationId}.virtual_stub_18"
            android:exported="false"
            android:process=":task18" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S19"
            android:authorities="${applicationId}.virtual_stub_19"
            android:exported="false"
            android:process=":task19" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S20"
            android:authorities="${applicationId}.virtual_stub_20"
            android:exported="false"
            android:process=":task20" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S21"
            android:authorities="${applicationId}.virtual_stub_21"
            android:exported="false"
            android:process=":task21" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S22"
            android:authorities="${applicationId}.virtual_stub_22"
            android:exported="false"
            android:process=":task22" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S23"
            android:authorities="${applicationId}.virtual_stub_23"
            android:exported="false"
            android:process=":task23" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S24"
            android:authorities="${applicationId}.virtual_stub_24"
            android:exported="false"
            android:process=":task24" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S25"
            android:authorities="${applicationId}.virtual_stub_25"
            android:exported="false"
            android:process=":task25" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S26"
            android:authorities="${applicationId}.virtual_stub_26"
            android:exported="false"
            android:process=":task26" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S27"
            android:authorities="${applicationId}.virtual_stub_27"
            android:exported="false"
            android:process=":task27" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S28"
            android:authorities="${applicationId}.virtual_stub_28"
            android:exported="false"
            android:process=":task28" />

        <provider
            android:name="io.bean.virtual.client.stub.StubContentProvider$S29"
            android:authorities="${applicationId}.virtual_stub_29"
            android:exported="false"
            android:process=":task29" />

    </application>
</manifest>